body {
  font: 1em sans-serif;
}

.App {
  text-align: center;
}

.Heading {
  text-decoration: underline;
  font-size: 50px;
}
.Heading:hover {
  color: palevioletred;
}
.Table {
  margin-left: 40px;
  background-color: darkslategrey;
  color: white;
}

.form {
  margin: 5px 5px 5px 950px;
  background-color: darkolivegreen;
  padding-top: 10px;
  padding-bottom: 10px;
}
.update-button:hover {
  background-color: darkslategrey;
  color: white;
  padding: 10px;
}
.button:hover {
  background-color: darkolivegreen;
  color: white;
}
